@model InventarioModel

<div class="container mt-4">
    <h1 class="text-center mb-4">Editar Producto</h1>

    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Información del Proveedor</h4>
        </div>
        <div class="card-body">
            <form asp-action="EditarProducto">
                <input asp-for="IdProducto" type="hidden" />

                <div class="form-group">
                    <label asp-for="IdCategoria" class="control-label"></label>
                    <select asp-for="IdCategoria" class="form-control" required>
                        <option value="">Seleccione un estado...</option>
                        <option value="1">Alimento</option>
                        <option value="2">Higiene y limpieza</option>
                        <option value="3">Juguetes para mascota</option>
                        <option value="4">Ropa para mascotas</option>
                        <option value="5">Cuidado y salud</option>
                        <option value="6">Accesorios para mascota</option>
                    </select>
                    <span asp-validation-for="IdCategoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreProducto" class="control-label"></label>
                    <input asp-for="NombreProducto" class="form-control" />
                    <span asp-validation-for="NombreProducto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Stock" class="control-label"></label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecioUnitario" class="control-label"></label>
                    <input asp-for="PrecioUnitario" class="form-control" />
                    <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <select asp-for="Estado" class="form-control" required>
                        <option value="">Seleccione un estado</option>
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RutaImagen" class="control-label"></label>
                    <input asp-for="RutaImagen" class="form-control" />
                    <span asp-validation-for="RutaImagen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UltimoIngreso" class="control-label"></label>
                    <input asp-for="UltimoIngreso" type="datetime-local" class="form-control" required />
                    <span asp-validation-for="UltimoIngreso" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Guardar Cambios" class="btn btn-primary btn-lg" />
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <a asp-action="ConsultarProductos" class="btn btn-secondary">Volver a la lista de productos</a>
        </div>
    </div>
</div>
