
@{
    ViewData["Title"] = "FacturacionCarrito";
}

<div class="pcoded-content">
	<!-- -->
	<!-- BUSCADOR -->
	<nav class="navbar-glass fs-10 navbar-top sticky-kit navbar navbar-expand navbar-light">

		<div class="input-group mb-3">
			<input type="text" style="border-top-left-radius: 200px 200px;border-bottom-left-radius: 200px 200px;" class="search-input form-control" placeholder="Buscar" aria-label="Search" type="search" aria-describedby="basic-addon2">
			<div class="input-group-append">
				<button class="btn  btn-primary" type="button">Buscar</button>
			</div>
		</div>
	</nav>

	<div class="col-xl-12">
		<hr>
		<div class="card-deck">
			<div class="card">
				<img class="img-fluid card-img-top" src="~/page/images/product/triofeed_bovinos.png" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title">Alimento de bovinos</h5>
					<p class="card-text">Descripción del producto Descripción del producto Descripción del producto Descripción del producto</p>
					<h4 class="fs-8 fs-md-7 text-warning mb-0">$562.5</h4>
					<div class="text-right">
						<button class="btn  btn-primary" alin>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
								<path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
							</svg>  Agregar al carrito
						</button>
					</div>
				</div>
			</div>
			<div class="card">
				<img class="img-fluid card-img-top" src="~/page/images/product/triofeed_peces.jpg" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title">Alimento de bovinos</h5>
					<p class="card-text">Descripción del producto Descripción del producto Descripción del producto Descripción del producto</p>
					<h4 class="fs-8 fs-md-7 text-warning mb-0">$562.5</h4>
					<div class="text-right">
						<button class="btn  btn-primary" alin>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
								<path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
							</svg>  Agregar al carrito
						</button>
					</div>
				</div>
			</div>
			<div class="card">
				<img class="img-fluid card-img-top" src="~/page/images/product/triofeed_porcinos.jpg" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title">Alimento de bovinos</h5>
					<p class="card-text">Descripción del producto Descripción del producto Descripción del producto Descripción del producto</p>
					<h4 class="fs-8 fs-md-7 text-warning mb-0">$562.5</h4>
					<div class="text-right">
						<button class="btn  btn-primary" alin>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
								<path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
							</svg>  Agregar al carrito
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="card-deck">
			<div class="card">
				<img class="img-fluid card-img-top" src="~/page/images/product/triofeed_cat.jpg" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title">Alimento de bovinos</h5>
					<p class="card-text">Descripción del producto Descripción del producto Descripción del producto Descripción del producto</p>
					<h4 class="fs-8 fs-md-7 text-warning mb-0">$562.5</h4>
					<div class="text-right">
						<button class="btn  btn-primary" alin>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
								<path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
							</svg>  Agregar al carrito
						</button>
					</div>
				</div>
			</div>
			<div class="card">
				<img class="img-fluid card-img-top" src="~/page/images/product/triofeed_peces.jpg" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title">Alimento de bovinos</h5>
					<p class="card-text">Descripción del producto Descripción del producto Descripción del producto Descripción del producto</p>
					<h4 class="fs-8 fs-md-7 text-warning mb-0">$562.5</h4>
					<div class="text-right">
						<button class="btn  btn-primary" alin>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
								<path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
							</svg>  Agregar al carrito
						</button>
					</div>
				</div>
			</div>
			<div class="card">
				<img class="img-fluid card-img-top" src="~/page/images/product/triofeed_bovinos.png" alt="Card image cap" />
				<div class="card-body">
					<h5 class="card-title">Alimento de bovinos</h5>
					<p class="card-text">Descripción del producto Descripción del producto Descripción del producto Descripción del producto</p>
					<h4 class="fs-8 fs-md-7 text-warning mb-0">$562.5</h4>
					<div class="text-right">
						<button class="btn  btn-primary" alin>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
								<path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
							</svg>  Agregar al carrito
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop -->
	<div class="fixed-button active">
		<a href="@Url.Action("FacturacionLista", "Inicio")" target="_blank"
		   class="btn btn-md btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
	</div>
</div>