<!DOCTYPE html>
<html lang="en">

<head>
    <title>Agro Victoria</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <link rel="icon" href="~/page/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/page/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>

<body>


        <div>
            @RenderBody()
        </div>
 

    <script src="~/page/js/vendor-all.min.js"></script>
    <script src="~/page/js/plugins/bootstrap.min.js"></script>
    <script src="~/page/js/pcoded.js"></script>
    <script src="~/page/js/plugins/apexcharts.min.js"></script>
    <script src="~/page/js/pages/dashboard-main.js"></script>

</body>

</html>
